@font-face{
  font-family: Nexa;
  src: url(../Fonts/Nexa_V2_2020/OTF/NexaDemo-Light.otf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252934;
  width: 100%;
  opacity: 0.95;
}
.menu a{
  font-size: 18px;
  font-style: Nexa;
  padding: 15px 0;
  color: #f8f8ff;
  text-decoration: none;
}
section{
    display: inline-block;
    width: 100%;
    height: 100vh;

  }
  .content .section:nth-child(1){
    background-color: #1b1b6b;
  }
  .content .section:nth-child(2){
    background-color: #f8f8ff;
  }
  .content .section:nth-child(3){
    background-color: #fd79a8;
  }
  section h1{
      display:  flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-size: 15em;
      color: #f8f8ff;
      font-style: Nexa;
  }
  .test{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5em;
    color: #252934;
    top: 0;
    font-style: Nexa;
}
