@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

@font-face{
	font-family: Nexa;
	src: url(../Fonts/Nexa_V2_2020/OTF/Nexa-Light.otf)
  }
@font-face{
	font-family: Nexa-Bold;
	src: url(../Fonts/Nexa_V2_2020/OTF/NexaDemo-Bold.otf)
}
/* Slideshow container */
.slideshow-container {
	width: 768px;
	height: 433px;
	margin-bottom: 0;
  }
  
  /* Hide the images by default */
.mySlides {
	display: none;
  }
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 70%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
  /* Caption text */
 .text {
	color: #f2f2f2;
	font-size: 10pt;
	padding: 8px 12px;
	position: absolute;
	bottom: 44%;
	right: -0.5%;
	width: 100%;
	text-align: center;
  }

  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
.image,.image2 {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }
.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  text-align: center;
}
.middle2 {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: -30%;
	left: 50%;
	transform: translate(-50%, 30%);
	-ms-transform: translate(-50%, 30%);
	text-align: center;
}

div#project1:hover .image{
	opacity: 0.3;
}
div#project1:hover .middle{
	opacity: 1;
}
div#project2:hover .image2{
	opacity: 0.3;
}
div#project2:hover .middle2{
	opacity: 1;
}
.title,.title2{
	color: white;
	font-size: 30px;
  }


div#project1{
	position: relative;
	left: 23.5%;
	margin-right: 0%;
	margin-left: 0;
	bottom: 25%;
	float:left;
	width: 27%;
}
div#project2{
	position: relative;
	margin-right: 0;
	margin-left: 0;
	left: 23.5%;
	bottom: 25%;
	width: 27%;
	height: 0%;
	float: left;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	height: 70%;
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	top: 71.3%;
	right: 31.3%;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
body.fp-viewing-about .aboutHeader, body.fp-viewing-about .portrait, body.fp-viewing-about .skills{
	animation: moveToLeft 1.5s
}

body.fp-viewing-about .fill1, body.fp-viewing-about .fill4{
	animation: barFill90 2s;
}

body.fp-viewing-about .fill2, body.fp-viewing-about .fill5, body.fp-viewing-about .fill6{
	animation: barFill80 2s;
}

body.fp-viewing-about .fill3, body.fp-viewing-about .fill9{
	animation: barFill60 2s;
}

body.fp-viewing-about .fill7, body.fp-viewing-about .fill8, body.fp-viewing-about .fill10{
	animation: barFill70 2s;
}

body.fp-viewing-contact .contactHeader, body.fp-viewing-contact input[name="last_name"], body.fp-viewing-contact #message{
	animation: moveToLeft 1.5s;
}

body.fp-viewing-contact input[name="first_name"],body.fp-viewing-contact input[name="email"], body.fp-viewing-contact #submitButton{
	animation-delay: 5s;
	animation: moveToRight 1.5s;
}

.aboutHeader{
	margin-bottom: 0%; 
	font-family: Nexa-Bold; 
	color: #333333; 
	position: absolute; 
	top: .5vh; 
	left: 45vw;
}

h4 {
	margin-bottom: 0px;
	margin-top: 10px;
}

p {
    line-height: 5px;
}

.portrait{
	position: absolute;
	top: 25vh;
	left: 20vw;
}
.bars{
	position: absolute;
	width: 45%;
	
}
.skill1{
	background-color:#414040;
	width: 35%;
	font-family: Nexa;
	color: #f8f8ff;
	height: 6.05%;
	font-size: 63%;
	position: absolute;
	right: 100%;
	
}
 .skills{
	position: absolute;
	left: 60%;
	top: 21%;
	width: 50%;
}
.bar-border{
	border: 3px solid#4d4c4c;
	margin-bottom: 3%;
}
.fill1,.fill4{
	height: 100%;
	width: 90%;
	background-color: #D24D57;
	font-family: Nexa;
	color: #4d4c4c;
	font-size: 57%;
	
}
.fill2,.fill5,.fill6{
	height: 100%;
	width: 80%;
	background-color: #D24D57;
	font-family: Nexa;
	color: #4d4c4c;
	font-size: 57%;
	
}
.fill3,.fill9{
	height: 100%;
	width: 60%;
	background-color: #D24D57;
	font-family: Nexa;
	color: #4d4c4c;
	font-size: 57%;
}

.fill7,.fill8,.fill10{
	height: 100%;
	width: 70%;
	background-color: #D24D57;
	font-family: Nexa;
	color: #4d4c4c;
	font-size: 57%;
}

.fa {
	display: inline-block;
	padding: 20px 10px 50px;
	font-size: 30px;
	width: 6vh;
	text-decoration: none;
	position: relative;
	color: white;
	background-color: #333232;
	height: .3vh;
	justify-content: center;
	align-items: center;
	top: -2vh;
	right: .2vw;
}
  
/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}
footer {
    display: block;
}
.socials{
	background-color:#1b242f;
	padding: 70px 0 70px 0;
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.navbar {
	width: 85%;
	margin: 0 auto;
}
body.fp-viewing-home #menu{
	display:none; 
}

header {
  background: #D24D57;
  position: relative;
  border-bottom: 3px solid#444;
  top: 0px;
  
  z-index: 3;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


.bar {
  float: left;
}

.bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bar li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding: 10px 0;
  position: relative;
}

.bar a {
  color: #f8f8ff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Nexa;
}

.bar a:hover {
  color: #000;
}

.bar a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.bar a:hover::before {
  width: 100%;
}

.layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 45%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.textHome{
  font-family: Nexa;
  color: #f8f8ff;
  position: relative;
  left: 50%;
  top: 10;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 30px;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  display: block;
  height:20px;
  width:150px;
  margin: 30px auto 0;
	padding: 14px 28px;
  font-family: Nexa;
  color: #f8f8ff;
  position: relative;
  text-align: center;
	font-size:14px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
  transition: all 1s ease;
  left: 0%;
  top: 50%;
  transform: translate(0,-50%)
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-one:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-two:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-three:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.victoria-four {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-four:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
/* Thar Buttons */

a.animated-button.thar-one {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #D24D57;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background:#D24D57;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #D24D57;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background:#D24D57;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #D24D57;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #D24D57;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid#D24D57;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #D24D57;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
}
.section {
  text-align: center;
  font-size: 2em;
  
}
.contactHeader{
	color:  #f8f8ff;
	font-family: Nexa;
	text-align: center;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
  }

a {
	text-decoration: none;

}

li {
    text-align: -webkit-match-parent;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent black;
}
/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

h3 {
	text-align: center;
}

/* Add styles to 'container' class */
.container {
	display: inline-block;
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: transparent;
	justify-content: center;
	align-items: center;
	top: -15vh;
	width: 50vh;
	position: relative;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	resize: vertical;
	background-color:  #4d4c4c;
	color:#F8F8FF;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid #D24D57;
}
/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}
input::placeholder
{
    font-family: Nexa;
}

@keyframes moveToLeft{
	from {
		transform: translateX(-120px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes moveToRight{
	from {
		transform: translateX(120px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes barFill90{
	from{
		width: 0%;
	}
	to{
		width: 90%;
	}
}
@keyframes barFill80{
	from{
		width: 0%;
	}
	to{
		width: 80%;
	}
}
@keyframes barFill70{
	from{
		width: 0%;
	}
	to{
		width: 70%;
	}
}
@keyframes barFill60{
	from{
		width: 0%;
	}
	to{
		width: 60%;
	}
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fadeIn3{
	from{
		opacity: 0;
	}
	to{
		opacity: 0.3;
	}
}